<h1>PROYECTS</h1>

<div class="container">

<ul>
    <div class="proy-container">
    <li>
        Argentina Programa
    </li>
    <p> My presentation</p>
    <img src="" alt="" srcset="">
    </div>

    <div class="proy-container">
    <li>
        Gym App
    </li>
    <p> Basic Mobile Application</p>
    <img src="" alt="" srcset="">
    </div>

    <div class="proy-container">
        <li>
            Register form
        </li>
        <p> Working with forms</p>
        <img src="" alt="" srcset="">
        </div>

    <div class="proy-container">
        <li>
            HP Quiz
        </li>
        <p> Quiz with Haarry Potter Questions</p>
        <img src="" alt="" srcset="">
    </div>
</ul>
</div>



<button>ADD</button>
